body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  justify-content: center;
  background-color: rgb(43, 40, 40);
  padding: 18px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.navbar a:hover {
  background-color: white;
  color: black;
}
.color-name {
  color: orange;
}
.top-banner {
  margin-top: 90px;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 6%;
}
.top-banner h1 {
  font-size: 64px;
  margin-top: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width p {
  margin-top: 15px;
  margin-bottom: 20px;
}
.half-width img {
  width: 100%;
}
.flexible-container {
  display: flex;
}

button {
  background-image: linear-gradient(to right, orange, tomato);
  border-radius: 30px;
  padding: 20px 46px;
  color: white;
  margin-top: 25px;
  font-size: 16px;
  border: none;
}
button:hover {
  color: rgb(105, 105, 4);
}
.about-me {
  background-image: url(images/7.png);
  background-repeat: no-repeat;
 
}

.about-me img {
  margin: 100px 30px 0px 60px;
  width: 78%;
}

#about-me {
  margin: 15%;
}
.my-recipies {
  text-align: center;
  margin: 5%;
  padding-left: 23%;
  padding-right: 23%;
}

.card {
  border-radius: 20px;
  box-shadow: 10px 10px 40px grey;
}
.row {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

/* Create three equal columns that sits next to each other */
.column {
  box-shadow: 10px 5px 20px rgb(212, 204, 204);
  border-radius: 20px;
  flex: 33.33%;
  padding: 20px;
  margin: 15px;
}
.column img {
  border-radius: 25px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 60px;
  margin: 14%;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #f2f2f2;
}
.container h1 {
  text-align: center;
  padding-bottom: 5px;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 60px;
}
